<p><a href="/brands">Brands Index</a></p>
<p><a href="/cards">Cards Index</a></p>

<h1>All Cards</h1>
<% @cards.show_graded_cards.each do |card| %>
  <h3>Player Name: <%= card.player_name %></h3>
  <p>Description: <%= card.description %></p>
  <p>Graded: <%= card.graded %></p>
  <p>Value: <%= card.value %></p>
<% end %>
